<h1>{{title}}</h1>

<div id = 'beer-img'>
  <img width="25%" src="images/beer.png">
</div>

  <div id = 'buttons'>
<button
      type='button'
      class='btn btn-primary resize shadow'
      style=' height:50px;width:200px;'
    >
      <a href='beers' class='text-light font-weight-bold'>Check the Beers!</a></button>
<button
      type='button'
      class='btn btn-primary resize shadow'
      style=' height:50px;width:200px;'
    >
      <a href='random-beer' class='text-light font-weight-bold'>Check a Random Beer!</a></button>
  </div>